body{
    margin: 0;
    padding: 0;
    background-color: pink;
}
.topSec{
    display: flex;
    justify-content: center;
}
.card{
    width: 45%;
    margin-top: 2%;
}
.List{
    width: 100%;
}
.bImg{
    margin: 10px 5px;
    width: 100px;
    height: 80px;
    border-radius: 60%;
}
.title{
    margin: 20px 50px;
}
.suffix{
    font-size: 18px;
    font-weight: 800;
}
.tiles{
    border-bottom: 1px solid rgb(105, 99, 99);
}